@charset "UTF-8";
@font-face {
     	font-family: "fonte";
     	src: url(file:///d:/Users/ORTO%20GAMER/Documents/projeto-glass-html5/_fonts/BAUHS93.TTF);
}
body {
    text-size-adjust: ;
    color: black;
    background-color: #dddddd;
    font-family: arial, sans-serif;
}
div#interface {
	width:850px;
	background-color: white;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgb(0,0,0,.5);
	padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
        text-align: justify;
        text-indent: 50px;
}
a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header#cabecalho img#icone {
	position: absolute;
	left: 790px;
	top: 40px;
}
header#cabecalho { 
	border-bottom: 1px #606060 solid;
	height: 140px;
}
header#cabecalho h1 {
	font-family: "fonte", sans-seri;
	font-size:30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}
header#cabecalho h2{
	font-family: "Arial", sans-seri;		
	color: #888888;
	font-size:15pt;
	padding: 0px;
	margin-top: 0px;
}
/* Formatação de imagens com legendas*/
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img {
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    transition-duration: 1s;
}
figure.foto-legenda:hover figcaption
{
    opacity: 1;
}
/* Formatação do menu*/
nav#menu ul {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px ;
    left: 474px;
}
nav#menu li {
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color:gray;
}
nav#menu h1 {
    display: none;
}
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color:white;
    text-decoration: underline;
}
section#corpo{
    display: block;
    width: 450px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}
table#id {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    background: #606060;
}
table#id td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    background-color: gray;
    color: white;
}

table#id td.ce {
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bolder;
}
table#id td.cd { 
    background-color: grey;
}
header#del {
    box-shadow: #606060;
    color: darkblue;
}
video#vid {
    text-align: center;
    margin-left: 0px;
    box-shadow: #000;
    margin-bottom: 5px;
    margin-top: -10px;
}
video#vid :hover {
    background-color: #606060;     
}
video#vd {
    text-align: center;
    margin-left: 0px;
    box-shadow: #000;
    margin-top: -09px;
    margin-bottom: 5px;
}
video#vd :hover {
    background-color: #606060;     
}
table#id caption{
    color:#888888;
    font-size: 13pt;
    font-weight: bolder;
}
table#id caption span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}
aside#lateral{
    display: block;
    width: 370px;
    float: right;
}

footer#rodape{
        clear: both;
        border-top: 1px solid gray;
}
footer#rodape p{
    text-align: center;
}
article#noticiaprincipal h2 {
                font-size: 12pt;
                color: #606060;
                background-color: #dddddd;
                padding: 5px 0px 5px 10px;
                margin: 10px 0px 10px 0px;
}
header#cabecalhoartigo h1 {
                font-family: "fonte", sans-serif;
                font-size: 20pt;
                color: #606060;
                margin-bottom: 0px;
                margin-top: 0px;
}
header#cabecalhoartigo h2 {
        font-size: 13pt;
        color: #cecece;
        background-color: #ffffff;
        margin-top: 1px;
}
header#cabecalhoartigo h3 {
            font-size: 12pt;
            color: #606060;
            margin-bottom: 1px;
}
.dirt {
    text-align: right;
}
img#icone {
    left: 1100px;
    margin-bottom: 10px;
    margin-top: 40px;
}
img#luz {
    text-align: center;
}
h2#h {
    text-align: center;
}
section#corp {
 width: 840px;
 height: auto; 
 left: 90px;  
}
img#flor {
    margin-top: -50px;
    left: -5px;
    margin-bottom: 0px;

}